h1 {
    text-align: center;
    font-family:sans-serif;
    font-weight: normal;
    color:darkgoldenrod;
}

body{
    background:rgb(248, 208, 238);
    border:5px solid black;
    border-radius: 10px; 
}

ul{
    list-style-type: none;
    background-color:rgb(252, 128, 180) ;
    display:flex;
}

li{
    display:inline;
    padding:25px;
}

img{display:block;
    margin:auto;
} 

p.paragraf-1 {
    color:black;
}